<div class="antialiased sans-serif min-h-screen">
  <calendar-navigation
    [month]="month"
    (monthEvent)="handleChangeMonth($event)"
    (yearEvent)="handleChangeYear($event)"
    [year]="year"
  ></calendar-navigation>

  <div class="-mx-1 -mb-1">
    <!-- Days -->
    <div class="flex flex-wrap" style="margin-bottom: -40px">
      @for (day of days; track $index) {
      <div style="width: 14.26%" class="px-2 py-2">
        <div
          class="text-gray-600 text-sm uppercase tracking-wide font-bold text-center"
        >
          {{ day }}
        </div>
      </div>
      }
    </div>

    <!-- blank days -->
    <div class="flex flex-wrap border-t border-l">
      @for (blankDay of blankDays(); track $index) {
      <div
        style="width: 14.28%; height: 120px"
        class="pattern-diagonal-lines pattern-blue-600 pattern-bg-white pattern-size-2 pattern-opacity-10 text-center border-r border-b border-current px-4 pt-2"
      ></div>
      }

      <!-- Main calendar -->
      @for (date of numberOfDays(); track $index) {
      <div style="width: 14.28%; height: 120px" class="relative">
        <calendar-day
          [(openEventModal)]="openEventModal"
          [isToday]="isToday(date)"
          [year]="year"
          [date]="date"
        ></calendar-day>
      </div>
      }
    </div>

    <!-- event  modal -->
    @if (openEventModal) {
    <calendar-modal [(openEventModal)]="openEventModal"></calendar-modal>
    }
  </div>
</div>
